.chatInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
    gap: 8px;
    bottom: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sendSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    /* margin-top: 10px; */
}

.whisperActive {
    color: palevioletred;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
}

.whisperDisabled {
    color: gray;
    font-size: 11px;
    cursor: pointer;
    transition: all 300ms ease;
}

.chatSendButton {
    height: 30px !important;
    min-height: 30px !important;
}

.diceList {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dice {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.diceInput {
    width: 80px;
}