.chatInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    position: sticky;
    bottom: 0;
    background: black;
}

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sendSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    /* margin-top: 10px; */
}

.whisperActive {
    color: palevioletred;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
}

.whisperDisabled {
    color: gray;
    font-size: 11px;
    cursor: pointer;
    transition: all 300ms ease;
}

.diceList {
    display: flex;
    gap: 5px;
    align-items: center;
}

.dice {
    cursor: pointer;
}