.sheetScreen {
    background: url('assets/img/bg/bg6.png');
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
}

.routeContent {
    background-color: black;
}